body{
    background-image: url('/images/pink-garden.jpg');
    background-position: 25% 75%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.envelope{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.envelope img{
    object-fit: cover;
    width: 50%;
}