body{
    background-image: url('images/pink-garden.jpg');
     background-repeat: no-repeat;
    background-position: 25% 75%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.envelope{
    visibility: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    transition: transform 0.6s ease;
}
.envelope img{
    object-fit: cover;
    width: 50%;

}
.invite{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}


.open-envelope{
     object-fit: cover;
    position: absolute;
    width: 65%;
    top: -13%;
    
}


.close-envelope{
     object-fit: cover;
    position: absolute;
    width: 65%;
    bottom: -5%;
    right: -15%;
    transform: rotate(-0.25turn);
    
}

.invite-letter{
    object-fit: cover;
    position: absolute;
    top: 0%;
    width: 120%;
    left: -10%;
}

@media (max-width: 767px) {
    body{
          /* background-position: 30% 75%; */
          background-size: cover;
    }
 .envelope img{
    object-fit: cover;
    width: 90%;
}
}