body{
    background-image: url('images/lilybg.jpg');
       background-size: cover;
     background-repeat: no-repeat;
    background-position: 25% 75%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: clip;
    align-items:  center;
    justify-content: center;
}
.envelope{

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    transition: visibility 0s linear 300ms, opacity 500ms ease;
}
.envelope img{
    object-fit: cover;
    width: 50%;

}
.invite{
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.invite img {
    overflow: visible;
}


.open-envelope{
    
     opacity: 0;
    visibility: hidden;
     object-fit: cover;
    position: absolute;
    width: 80%;
    top: -35%;
    left: 0%;
     transition: visibility 1s linear 300ms, opacity 800ms ease;
    
}


.close-envelope{
    opacity: 0;
    visibility: hidden;
     object-fit: cover;
    position: absolute;
    width: 80%;
    top: 70%;
    right: 0%;
    height: 300px;
     transition: visibility 1s linear 300ms, opacity 800ms ease;
    /* transform: rotate(-0.25turn); */
    
}

.invite-letter{
    opacity: 0;
    visibility: hidden;
    object-fit: cover;
    position: absolute;
    top: 10%;
    right: -20%;
    width: 150%;
    height: 80vh;
   transition: visibility 1s linear 300ms, opacity 900ms ease, transform 200ms ease-in;
    
}

.attire{
        opacity: 0;
    visibility: hidden;
    object-fit: cover;
    object-fit: cover;
    position: absolute;
     width: 60%;
    bottom: 50%;
    left: 40%;
}

/* .invite-letter:focus{
    transform: scale(1.5);

} */

.scale{
    transform: scale(1.2);
}

@media (max-width: 767px) {

 .envelope img{
    object-fit: cover;
    width: 90%;
}
}
@media (min-width: 750px) {
     .invite{
    width: 70vw;
}
}
@media (min-width: 1200px) {

 .invite{
    object-fit: cover;
    width: 60vw;
}
.open-envelope{
    width: 70%;
    
}


.close-envelope{
    width: 70%;
    
}
}

  

@media (min-width: 1600px) {

 .invite{
    object-fit: cover;
    width: 60vw;
}
}
@media (min-width: 1800px) {

 .invite{
    position: relative;
    top: -10%;
    object-fit: cover;
    width: 70vh;
}
}



@media (orientation: landscape) {

    .envelope img{
    object-fit: cover;
    width: 70vh;

}
  /* CSS rules to apply when the width is greater than the height */
     .invite{
    object-fit: cover;
    top: -5vh;
    width: 70vh;
}
.close-envelope{
    top: 70%; 
}
.invite-letter{

    right: -5%;
    width: 120%;
    
}

.attire{

    bottom: 45%;

}

.close-envelope{

    top: 80%;
    
    
}
}