body{
    background-image: url('images/pink-garden.jpg');
     background-repeat: no-repeat;
    background-position: 25% 75%;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
.envelope{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.envelope img{
    object-fit: cover;
    width: 50%;
     transition: transform 1s ease;
}

.envelope img:hover{
    transform: translate(-10%, -10%) scale(0.5);
}

@media (max-width: 767px) {
    body{
          /* background-position: 30% 75%; */
          background-size: cover;
    }
 .envelope img{
    object-fit: cover;
    width: 90%;
}
}