body{
    background-image: url('images/pink-garden.jpg');
       background-size: cover;
     background-repeat: no-repeat;
    background-position: 25% 75%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: clip;
 align-items:  center;
}
.envelope{

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    transition: visibility 0s linear 300ms, opacity 500ms ease;
}
.envelope img{
    object-fit: cover;
    width: 50%;

}
.invite{
    display: none;
    flex-direction: row;
    width: 80vw;
    height: 80vh;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.open-envelope{
    
     opacity: 0;
    visibility: hidden;
     object-fit: cover;
    position: absolute;
    width: 65%;
    top: -20%;
    left: 0%;
     transition: visibility 1s linear 300ms, opacity 800ms ease;
    
}


.close-envelope{
    opacity: 0;
    visibility: hidden;
     object-fit: cover;
    position: absolute;
    width: 65%;
    top: 40%;
    right: 0%;
     transition: visibility 1s linear 300ms, opacity 800ms ease;
    /* transform: rotate(-0.25turn); */
    
}

.invite-letter{
    opacity: 0;
    visibility: hidden;
    object-fit: cover;
    position: absolute;
    top: -5%;
    width: 120%;
   transition: visibility 1s linear 300ms, opacity 900ms ease, transform 200ms ease-in;
    
}

/* .invite-letter:focus{
    transform: scale(1.5);

} */

.scale{
    transform: scale(1.5);
}

@media (max-width: 767px) {

 .envelope img{
    object-fit: cover;
    width: 90%;
}

}
@media (min-width: 1200px) {

 .invite{
    object-fit: cover;
    width: 60vw;
}
}

@media (min-width: 1600px) {

 .invite{
    object-fit: cover;
    width: 50vw;
}
}
@media (min-width: 1800px) {

 .invite{
    position: relative;
    top: -10%;
    object-fit: cover;
    width: 70vh;
}
}


